
  <header class="Header">

    <div class="title">
      <h1 class="title-h1"> WELCOM HOME </h1>
      <h2 class="title-h1"> , are you ready for a quizz ?!? </h2>
    </div>

    <div class="card1">
      <button class="btn">MY PROFIL</button>
      <button class="btn">START AND PLAY !!!</button>
      <button class="btn">CLASSEMENT</button>
      <button class="btn">RETURN TO LOGIN</button>
    </div>

    <div class="loader">
      <div class="head"></div>
      <div class="flames">
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
      </div>
      <div class="eye"></div>
    </div>

  </header>


