<div class="Body">

<header class="Header">

  <div class="loader">
    <div class="head"></div>
    <div class="flames">
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
    </div>
    <div class="eye"></div>
  </div>

  <div class="title">
    <h2 class="title-h2"> MY PROFIL </h2>
  </div>

  <div class="org">
    <div class="btn">
      <button class="btn-returnHome"> return HOME </button>
    </div>
  </div>

</header>
<main>
  <div class="card1">

    <img class="image-user-user" src="assets/images/R.png" alt="">

    <div class="card-infoUser">
      <div class="card-infoUser-alreadyRight">
        <p class="card-infoUser-alreadyRight-pseudo">My pseudo :</p>
        <p class="card-infoUser-alreadyRight-mail">My email :</p>
      </div>
      <div class="card-infoUser-mutationRight">
        <p class="card-infoUser-mutationRight-pseudo">(vide)</p>
        <p class="card-infoUser-mutationRight-mail">(vide)</p>
      </div>
    </div>

    <div class="card-infoUser">
      <div class="card-infoUser-alreadyRight">
        <p class="card-infoUser-alreadyRight-points">Mes points :</p>
        <p class="card-infoUser-alreadyRight-parties">Mes parties :</p>
        <p class="card-infoUser-alreadyRight-reussit">Ma reussite moyenne :</p>
      </div>
      <div class="card-infoUser-mutationRight">
        <p class="card-infoUser-mutationRight-points">(vide)</p>
        <p class="card-infoUser-mutationRight-parties">(vide)</p>
        <p class="card-infoUser-mutationRight-reussit">(vide)</p>
      </div>
    </div>

  </div>
</main>

</div>
