<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
>

<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>

    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="bootstrapupQUIZZ.min.css">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--Custom styles-->
    <link rel="stylesheet"  href="stylesignupQUIZZ.css">
</head>
<body>

<div class="container">

    <div class="d-flex justify-content-center h-100">

        <div class="card2">
            
            <div class="card">

                <div class="card-header">
                    <h3>Sign Up</h3>
                    <div class="d-flex justify-content-end social_icon">
                </div>

                </div>
                <div class="card-body">
                    <form th:action="@{/signup}" th:object="${signUpForm}" method="post">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input th:field="*{pseudo}" type="text" name="pseudo" class="form-control" placeholder="pseudo">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input th:field="*{email}" type="email" name="email" class="form-control" placeholder="email">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input th:field="*{password}" type="password" name="password" class="form-control" placeholder="password">
                        </div>
                    </form>
                        <div class="form-group">
                            <input type="submit" value="signUp" class="btn float-right login_btn">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Already have an account?<a th:href="@{/signin}"> => Sign In</a>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a th:href="@{/contact}"> Contact / Message</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
