
.Header{
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.title {
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.card1 {
  background-color: black;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  border-radius: 6px;
  box-shadow: 2px 2px 19px;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.card1::before {
  content: "";
  position: absolute;
  z-index: -19;
  width: 100%;
  height: 100%;
  margin: auto;
  background: rgb(255, 0, 0);
  background: linear-gradient(135deg, rgb(215, 0, 0) 0%, rgb(255, 77, 0) 35%, rgb(215, 18, 0) 100%);
  border-radius: 6px;
}

.card1::after {
  content: "";
  position: absolute;
  z-index: -19;
  width: 100%;
  height: 100%;
  margin: auto;
  background: rgb(255, 0, 0);
  background: linear-gradient(135deg, rgb(207, 0, 0) 0%, rgb(255, 55, 0) 35%, rgb(255, 55, 0) 100%);
  border-radius: 0 0 6px 6px;
  filter: blur(20px);
  transition: 1s;
}

.card1:hover::after {
  animation: cardafter 0.5s infinite forwards;
}

@keyframes cardafter {
  0% {
    opacity: 2;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 2;
  }

}

.btn {
  margin: 25px;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #ffffffed;
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid #fffffff6;
  transition: 0.5s ease;
}

.btn:hover,
.btn:focus {
  color: #ffffff;
  background: #ff0000;
  border: 1px solid #fafafa;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #ff0000, 0 0 20px #ff7700, 0 0 50px #ff3700,
  0 0 100px #ff0000;
}


.loader {
  margin-top: 10px;
  margin-left: 50px;
  display: flex;
  width: 8rem;
  height: 8rem;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

.head {
  width: 100%;
  height: 100%;
  background-color: #f92c2c;
  border-radius: 50%;
  animation: move 3s linear infinite;
  box-shadow: 0 1rem 1rem #d20101;
  filter: blur(.3rem);
  z-index: 1;
}

.eye {
  display: flex;
  position: absolute;
  width: 4rem;
  height: 4rem;
  background-color: #EFFFC8;
  background: radial-gradient(rgba(255, 247, 247, 1) 20%, rgb(255, 42, 42) 100%);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  z-index: 2;
  box-shadow: 0 0 1rem #fc2424;
  animation: move 5s alternate infinite;
}

.eye::before {
  content: "";
  display: flex;
  width: 1rem;
  height: 2rem;
  background-color: #000;
  background: radial-gradient(rgba(0, 0, 0, 1) 44%, #e22020 50%, transparent 60%);
  border-radius: 50%;
  animation: blink 4s ease-in-out alternate infinite;
}

.flames {
  display: flex;
  position: absolute;
  z-index: 0;
}

.particle {
  display: flex;
  position: absolute;
  background-color: #f94545;
  border-radius: 50%;
  filter: blur(.3rem);
  border-top: 5px solid #d30000;
  border-left: 5px solid #da0000;
}

.flames::before {
  content: "";
  position: absolute;
  width: 8rem;
  height: 8rem;
  background: #f93a3a;
  filter: blur(5rem);
  opacity: 0.5;
  border-radius: 50%;
  top: -8rem;
  left: -4rem;
  z-index: 4;
  animation: pulse 3s linear infinite;
}

.particle:nth-child(1) {
  width: 4rem;
  height: 4rem;
  top: -6rem;
  animation: move 7s alternate-reverse infinite;
}

.particle:nth-child(2) {
  width: 1.5rem;
  height: 1.5rem;
  top: -8rem;
  left: -5rem;
  animation: move 1.5s ease-in-out reverse infinite;
}

.particle:nth-child(3) {
  width: 4rem;
  height: 4rem;
  top: -5rem;
  left: -4rem;
  animation: move 8s alternate-reverse infinite;
}

.particle:nth-child(4) {
  width: 3rem;
  height: 3rem;
  top: -7.5rem;
  animation: move 4s alternate-reverse infinite;
}

.particle:nth-child(5) {
  width: 2rem;
  height: 2rem;
  top: -9rem;
  left: 1rem;
  animation: move 2.5s alternate-reverse infinite;
}

.particle:nth-child(6) {
  width: 2rem;
  height: 2rem;
  top: -6.8rem;
  left: -1.5rem;
  animation: move 5s alternate-reverse infinite;
}

.particle:nth-child(7) {
  width: 1rem;
  height: 1rem;
  top: -10rem;
  left: -1rem;
  animation: move 1.2s alternate-reverse infinite;
}

.particle:nth-child(8) {
  width: 1.3rem;
  height: 1.3rem;
  top: -7.5rem;
  left: -2rem;
  animation: move 2.5s alternate-reverse infinite;
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(4px, 6px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes blink {
  20% {
    transform: translate(0, 0);
    height: 2rem;
  }

  30% {
    height: 0;
  }

  40% {
    transform: translate(5px, 10px);
    height: 0;
  }

  50% {
    height: 2rem;
  }

  70% {
    transform: translate(-10px, -10px);
  }

  90% {
    transform: translate(0, 0);
  }
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

