<header class="Header">

  <!--
    <div class="title">
      <h1 class="title-h1"> WELCOM HOME </h1>
      <h2 class="title-h1"> , are you ready for a quizz ?!? </h2>
    </div>
  -->

  <div class="card1">
    <button (click)="showProfile()" class="btn">my profil</button>
    <button (click)="getLabels()" class="btn">start and play</button>
    <button (click)="showScoreBoard()" class="btn">classement</button>
    <button class="btn">return to login</button>
  </div>

  <div class="loader">
    <div class="head"></div>
    <div class="flames">
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
      <div class="particle"></div>
    </div>
    <div class="eye"></div>
  </div>

</header>

<div *ngIf="displayProfile">
  <app-profil>

  </app-profil>
</div>

<!-- Card choix level et theme -->

<div *ngIf="chooseYourTheme">
  <div class="Selection">
    <div class="org1">
      <ng-container *ngFor="let label of labels">
        <ng-container *ngIf="label.type ==='theme'">
          <div>{{label.type}}</div>
          <button (click)="chosenTheme($event)"
                  [attr.data-themeId]="label.id"
                  class="theme btn">{{label.label}}</button>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<div *ngIf="chooseYourLevel">
  <div class="Selection">
    <div class="org2">
      <ng-container *ngFor="let label of labels">
        <ng-container *ngIf="label.type ==='level'">
          <div>{{label.type}}</div>
          <button (click)="chosenLevel($event)"
                  [attr.data-levelId]="label.id"
                  class="level btn">{{label.label}}</button>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<div *ngIf="displayGame">
  <app-quizz (send)="resp = $event"
             (nextIndex)="index = $event"
             [quizz]="quizzModels[index]" >
  </app-quizz>
</div>

<div *ngIf="displayScoreBoard">
  <app-score-board>

  </app-score-board>
</div>
